<div class="object-info-container">
  <span style="font-size: 24px">A Digital Metropolis Reflecting My World</span>

  <div class="corners">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
</div>

<div class="object-info-container">
  <span>Imagine a digital cityscape where each towering skyscraper is not just a building but a representation of my
    life's passions and hobbies. From the soaring video game skyscraper to the art-inspired tower, this city tells my
    story.
    Click on any building, and you'll uncover a world of experiences, messages, and insights that define who I am.
    Welcome to
    my virtual metropolis, where my time and interests come to life in a captivating way.</span>

  <div class="corners">
    <i></i>
    <i></i>
    <i></i>
    <i></i>
  </div>
</div>