@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import "../../../shared/scss/global.scss";



.object-info-container {
  // @extend .transparent-container;
  width: 452px;
  color: $heavy-dark-grey;
  align-items: center;
  // border: 0.1px solid $light-grey;


  .title {
    @extend .transparrent-section;

    display: flex;
    font-size: 32px;
    justify-content: space-between;
    font-family: "Ubuntu Mono", sans-serif;
    color: $grey;
  }

  .description {
    @extend .transparrent-section;

    font-size: 22px;
    color: $dark-grey;
  }

  .info-img {
    @extend .transparrent-section;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      transform: scale(3);
      transform-origin: 50% 50%;
    }

    height: 350px;
    // width: 100%;
    overflow: hidden;
  }
}

span {
  position: relative;
  z-index: 10000;
}


.svg-icon {
  width: 18%;
  margin-left: 4%;
  align-items: center;
  display: inline-grid;
}