[aria-label][tooltip-position] {
  position: relative;
  letter-spacing: 0.1rem;
}

[aria-label][tooltip-position]::before,
[aria-label][tooltip-position]::after {
  --scale: 0;
  position: absolute;
  font-size: 1rem;
  transition: transform 100ms;
  transition-timing-function: linear;
}

[aria-label][tooltip-position]:hover::before,
[aria-label][tooltip-position]:hover::after {
  --scale: 1;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.93);
}

[aria-label][tooltip-position]::before {
  content: attr(aria-label);
  background-color: var(--tooltip-color);
  padding: 1em;
  border-radius: 0.3em;
  width: max-content;
  max-width: 100%;
  text-align: end;
  transform: scale(0);
}

[aria-label][tooltip-position]::after {
  content: "";
  border: var(--arrow-size) solid transparent;
}

[aria-label][tooltip-position]::before,
[aria-label][tooltip-position]::after {
  --tooltip-color: rgb(53, 53, 53);
  --arrow-size: 0.5rem;
  --scale: 0;

  z-index: 1;
  font-size: 1rem;
  transform: translate(var(--translate-x), var(--translate-y)) scale(var(--scale));
}

/** Right  */

[aria-label][tooltip-position="right"]::before {
  --translate-x: calc(100% + var(--arrow-size));
  --translate-y: -50%;
  right: -2%;
  top: 50%;
  transform-origin: left center;
}

[aria-label][tooltip-position="right"]::after {
  --translate-x: calc(var(--arrow-size));
  --translate-y: -50%;
  right: -2%;
  top: 50%;
  border-right-color: var(--tooltip-color);
  transform-origin: left center;
}

/** Bottom  */

[aria-label][tooltip-position="bottom"]::before {
  --translate-x: -50%;
  --translate-y: calc(100% + var(--arrow-size));
  bottom: 0px;
  left: 50%;
  transform-origin: top center;
}

[aria-label][tooltip-position="bottom"]::after {
  --translate-x: -50%;
  --translate-y: calc(var(--arrow-size));
  left: 50%;
  bottom: 0px;
  border-bottom-color: var(--tooltip-color);
  transform-origin: top center;
}

/** Top */

[aria-label][tooltip-position="top"]::before {
  position: absolute;
  --translate-x: -50%;
  --translate-y: calc(-100% - var(--arrow-size));
  top: 0px;
  left: 50%;
  transform-origin: bottom center;
}

[aria-label][tooltip-position="top"]::after {
  --translate-x: -50%;
  --translate-y: calc(-1 * var(--arrow-size));
  top: 0px;
  left: 50%;
  border-top-color: var(--tooltip-color);
  transform-origin: bottom center;
}

/** Left */

[aria-label][tooltip-position="left"]::before {
  --translate-x: calc(-100% - var(--arrow-size));
  --translate-y: -50%;
  left: 0px;
  top: 50%;
  transform-origin: right center;
}

[aria-label][tooltip-position="left"]::after {
  --translate-x: calc(-1 * var(--arrow-size));
  --translate-y: -50%;
  left: 0px;
  top: 50%;
  border-left-color: var(--tooltip-color);
  transform-origin: right center;
}

/** Top */

[aria-label][tooltip-position="top"]::before {
  position: absolute;
  --translate-x: -50%;
  --translate-y: calc(-100% - var(--arrow-size));
  top: 0px;
  left: 50%;
  transform-origin: bottom center;
}

[aria-label][tooltip-position="top"]::after {
  --translate-x: -50%;
  --translate-y: calc(-1 * var(--arrow-size));
  top: 0px;
  left: 50%;
  border-top-color: var(--tooltip-color);
  transform-origin: bottom center;
}

/** Left */

[aria-label][tooltip-position="left"]::before {
  --translate-x: calc(-100% - var(--arrow-size));
  --translate-y: -50%;
  left: 0px;
  top: 50%;
  transform-origin: right center;
}

[aria-label][tooltip-position="left"]::after {
  --translate-x: calc(-1 * var(--arrow-size));
  --translate-y: -50%;
  left: 0px;
  top: 50%;
  border-left-color: var(--tooltip-color);
  transform-origin: right center;
}