#metropolis-canvas-container {
  width: 100vw;
  height: 100vh;
  display: grid;

  #info-container {
    position: fixed;
    z-index: 99;
    top: 4%;
    right: 2%;
  }

  #nav-info-container {
    position: fixed;
    z-index: 99;
    height: 100%;
  }
}
.no-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  #metropolis-canvas-container {
    display: none;
  }

  .no-mobile {
    display: block;

    img {
      width: 100%;
    }
  }
}