@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

$transparrency: .5;

$primary-yellow: #f3d17c;
$primary-green: #86B86B;
$secondary: #232734;

$light-grey: #d3d5db;
$grey: #cfd0d1;
$dark-grey: #9fa3ab;
$mid-dark-grey: #727273;
$heavy-dark-grey: #323233;

$light-grey-tr: rgba($light-grey, $transparrency);
$grey-tr: rgba($grey, $transparrency);
$dark-grey-tr: rgba($dark-grey, $transparrency);
$mid-dark-grey-tr: rgba($mid-dark-grey, $transparrency);
$heavy-dark-grey-tr: rgba($heavy-dark-grey, $transparrency);

.transparent-container {
  background: rgb(75 76 73 / 6%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: relative;
  border-radius: 12px;
}

.transparrent-section {
  padding: 4%;
  margin-top: 2%;
  border-radius: 12px;
  background-color: $heavy-dark-grey-tr;
}

.transparrent-section-colored {
  padding: 4%;
  margin-top: 2%;
  border-radius: 12px;
  background: linear-gradient(
    144deg,
    rgb(243 209 124 / 50%) 0%,
    rgba(152, 145, 129, 0.71) 50%,
    rgba(0, 255, 255, 0) 100%
  );
}

.sidebar-nav {
  background-color: $mid-dark-grey;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: 5px solid $primary-green;
}
.openbtn-nav {
  font-size: 20px;
  cursor: pointer;
  background-color: $primary-green;
  padding: 10px 15px;
  width: 45px;
  height: 90px;
  border: none;
  border-radius: 0 10rem 10rem 0;

  &:hover {
  box-shadow: 0 0 80px rgba($primary-green, 0.7);

  }
}