#info-container {
  position: fixed;
  z-index: 99;
  top: 4%;
  right: 2%;
}

#nav-info-container {
  position: fixed;
  z-index: 99;
  height: 100%;
}

#canvas-container {
  width: 100vw;
  height: 100vh;
  display: grid;
}